<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>RESOURCED</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#10084d">
    <meta name="msapplication-navbutton-color" content="#10084d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#10084d">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main">
    <div class="section main-section about">
      <picture>
        <source srcset="../../images/pixel.webp" data-original="../../images/bg-main.webp" class="lazy-web"
          type="image/webp">
        <source srcset="../../images/pixel.png" data-original="../../images/bg-main.png" class="lazy-web"
          type="image/png">
        <img src="../../images/pixel.png" data-original="../../images/bg-main.png" class="lazy" alt="">
      </picture>
      <div class="container">
        <div class="about-main">
          <span>About us</span>
          <p>Resourced was created for product developers and beyond. Our mission is to facilitate the process of
            turning an idea
            into a working product in the world of garments. Designers and managers <span>from all over the world</span>
            use
            Resourced for work
            that has changed their daily approach to the profession.</p>
        </div>
      </div>
    </div>
    <div class="section team-section">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="team-text">
              <span>Our team</span>
              <p>We believe in teams. Yours and ours. Our mission, culture, and commitment to fostering a diverse,
                inclusive workplace
                let us build a product people love and stay true to ourselves.</p>
            </div>
          </div>
          <div class="col-md-9">
            <div class="team-members">
              <div class="member">
                <div class="member-pic">
                  <a href="javascript:void(0)">
                    <span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"
                          fill="white" />
                        <path d="M6 9H2V21H6V9Z" fill="white" />
                        <path
                          d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"
                          fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                    <picture>
                      <source srcset="../../images/pixel.webp" data-original="../../images/member-01.webp"
                        class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.png" data-original="../../images/member-01.png"
                        class="lazy-web" type="image/png">
                      <img src="../../images/pixel.png" data-original="../../images/member-01.png" class="lazy" alt="">
                    </picture>
                  </a>
                </div>
                <div class="member-about">
                  <span>Armando Dirckx</span>
                  <b>Co-founder & CEO</b>
                </div>
              </div>
              <div class="member">
                <div class="member-pic">
                  <a href="javascript:void(0)">
                    <span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"
                          fill="white" />
                        <path d="M6 9H2V21H6V9Z" fill="white" />
                        <path
                          d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"
                          fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                    <picture>
                      <source srcset="../../images/pixel.webp" data-original="../../images/member-02.webp"
                        class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.png" data-original="../../images/member-02.png"
                        class="lazy-web" type="image/png">
                      <img src="../../images/pixel.png" data-original="../../images/member-02.png" class="lazy" alt="">
                    </picture>
                  </a>
                </div>
                <div class="member-about">
                  <span>Armando Dirckx</span>
                  <b>Co-founder & CEO</b>
                </div>
              </div>
              <div class="member">
                <div class="member-pic">
                  <a href="javascript:void(0)">
                    <span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"
                          fill="white" />
                        <path d="M6 9H2V21H6V9Z" fill="white" />
                        <path
                          d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"
                          fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                    <picture>
                      <source srcset="../../images/pixel.webp" data-original="../../images/member-03.webp"
                        class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.png" data-original="../../images/member-03.png"
                        class="lazy-web" type="image/png">
                      <img src="../../images/pixel.png" data-original="../../images/member-03.png" class="lazy" alt="">
                    </picture>
                  </a>
                </div>
                <div class="member-about">
                  <span>Armando Dirckx</span>
                  <b>Co-founder & CEO</b>
                </div>
              </div>
              <div class="member">
                <div class="member-pic">
                  <a href="javascript:void(0)">
                    <span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"
                          fill="white" />
                        <path d="M6 9H2V21H6V9Z" fill="white" />
                        <path
                          d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"
                          fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                    <picture>
                      <source srcset="../../images/pixel.webp" data-original="../../images/member-04.webp"
                        class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.png" data-original="../../images/member-04.png"
                        class="lazy-web" type="image/png">
                      <img src="../../images/pixel.png" data-original="../../images/member-04.png" class="lazy" alt="">
                    </picture>
                  </a>
                </div>
                <div class="member-about">
                  <span>Armando Dirckx</span>
                  <b>Co-founder & CEO</b>
                </div>
              </div>
              <div class="member">
                <div class="member-pic">
                  <a href="javascript:void(0)">
                    <span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"
                          fill="white" />
                        <path d="M6 9H2V21H6V9Z" fill="white" />
                        <path
                          d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"
                          fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                    <picture>
                      <source srcset="../../images/pixel.webp" data-original="../../images/member-05.webp"
                        class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.png" data-original="../../images/member-05.png"
                        class="lazy-web" type="image/png">
                      <img src="../../images/pixel.png" data-original="../../images/member-05.png" class="lazy" alt="">
                    </picture>
                  </a>
                </div>
                <div class="member-about">
                  <span>Armando Dirckx</span>
                  <b>Co-founder & CEO</b>
                </div>
              </div>
              <div class="member">
                <div class="member-pic">
                  <a href="javascript:void(0)">
                    <span>
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M16 8C17.5913 8 19.1174 8.63214 20.2426 9.75736C21.3679 10.8826 22 12.4087 22 14V21H18V14C18 13.4696 17.7893 12.9609 17.4142 12.5858C17.0391 12.2107 16.5304 12 16 12C15.4696 12 14.9609 12.2107 14.5858 12.5858C14.2107 12.9609 14 13.4696 14 14V21H10V14C10 12.4087 10.6321 10.8826 11.7574 9.75736C12.8826 8.63214 14.4087 8 16 8Z"
                          fill="white" />
                        <path d="M6 9H2V21H6V9Z" fill="white" />
                        <path
                          d="M4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z"
                          fill="white" stroke="white" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round" />
                      </svg>
                    </span>
                    <picture>
                      <source srcset="../../images/pixel.webp" data-original="../../images/member-06.webp"
                        class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.png" data-original="../../images/member-06.png"
                        class="lazy-web" type="image/png">
                      <img src="../../images/pixel.png" data-original="../../images/member-06.png" class="lazy" alt="">
                    </picture>
                  </a>
                </div>
                <div class="member-about">
                  <span>Armando Dirckx</span>
                  <b>Co-founder & CEO</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section statistics-section">
      <div class="container">
        <ul class="statistics-list">
          <li>
            <b>16</b>
            <span>Locations</span>
          </li>
          <li>
            <b>2018</b>
            <span>Year of establishment</span>
          </li>
          <li>
            <b>32</b>
            <span>Number of employees</span>
          </li>
          <li>
            <b>101</b>
            <span>Component Suppiliers</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="sectiton location-section">
      <div class="container">
        <span class="location-title">Our locations</span>
        <div class="location-pic">
          <picture>
            <source srcset="../../images/pixel.webp" data-original="../../images/map.webp" class="lazy-web"
              type="image/webp">
            <source srcset="../../images/pixel.png" data-original="../../images/map.png" class="lazy-web"
              type="image/png">
            <img src="../../images/pixel.png" data-original="../../images/map.png" class="lazy" alt="">
          </picture>
        </div>
      </div>
    </div>
    <div class="sectiton our-partners-section">
      <div class="container">
        <span class="our-partners-title">Meet our partners</span>
        <ul class="our-partners">
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/our-partners-01.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/our-partners-01.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/our-partners-01.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/our-partners-02.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/our-partners-02.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/our-partners-02.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/our-partners-03.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/our-partners-03.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/our-partners-03.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/our-partners-04.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/our-partners-04.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/our-partners-04.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/our-partners-05.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/our-partners-05.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/our-partners-05.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/our-partners-06.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/our-partners-06.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/our-partners-06.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/our-partners-07.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/our-partners-07.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/our-partners-07.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/our-partners-08.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/our-partners-08.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/our-partners-08.png" class="lazy"
                alt="">
            </picture>
          </li>
        </ul>
        <div class="our-partners-bot">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <p>Supplier? Register here and we will send you business proposals from brands we work with</p>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <form class="our-partners-form">
                <div class="inner">
                  <input type="text" name="email" placeholder="Your e-mail">
                  <button type="submit" class="btn">Confirm</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
