<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>RESOURCED</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#10084d">
  <meta name="msapplication-navbutton-color" content="#10084d">
  <meta name="apple-mobile-web-app-status-bar-style" content="#10084d">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main">
    <div class="section main-section">
      <picture>
        <source srcset="../../images/pixel.webp" data-original="../../images/bg-main.webp" class="lazy-web"
          type="image/webp">
        <source srcset="../../images/pixel.png" data-original="../../images/bg-main.png" class="lazy-web"
          type="image/png">
        <img src="../../images/pixel.png" data-original="../../images/bg-main.png" class="lazy" alt="">
      </picture>
      <div class="container">
        <div class="main-content row">
          <div class="main-content-about col-md-12 col-lg-4">
            <span>Seamless product development for modern brands.</span>
            <p>Focus on the product, let Resourced do the rest.</p>
            <a class="btn" href="javascript:void(0)">Show me how</a>
          </div>
          <div class="main-content-pic col-md-12 col-lg-8">
            <video class="main-video" muted="" loop="" autoplay="">
              <source src="../../images/video/main-video.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="section partners-section">
      <div class="container">
        <ul>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/partners-01.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/partners-01.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/partners-01.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/partners-02.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/partners-02.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/partners-02.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/partners-03.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/partners-03.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/partners-03.png" class="lazy"
                alt="">
            </picture>
          </li>
          <li>
            <picture>
              <source srcset="../../images/pixel.webp" data-original="../../images/partners/partners-04.webp"
                class="lazy-web" type="image/webp">
              <source srcset="../../images/pixel.png" data-original="../../images/partners/partners-04.png"
                class="lazy-web" type="image/png">
              <img src="../../images/pixel.png" data-original="../../images/partners/partners-04.png" class="lazy"
                alt="">
            </picture>
          </li>
        </ul>
      </div>

    </div>
    <div class="section idea-section">
      <div class="container">
        <div class="idea-top">
          <h2>From idea to product in a breeze</h2>
          <span>Effortless process management</span>
        </div>
        <div class="idea-inner">
          <div class="idea-slider-wrapper">
            <div class="idea-slider-path slick-slider" data-slick='{
              "slidesToShow": 4, "slidesToScroll": 1,"arrows": false, "dots": false, "infinite": true,"asNavFor": ".idea-slider-step", "focusOnSelect": true, "autoplay": true, "autoplaySpeed": 3000,
						 "responsive": [ {"breakpoint":991, "settings": {"slidesToShow": 2}},
                  {"breakpoint":574, "settings": {"slidesToShow": 1}} ]}'>
              <div class="slide">
                <div class="slide-pic">
                  <img src="../../images/idea-01.svg" alt="">
                </div>
                <span class="slide-name">Idea</span>
              </div>
              <div class="slide">
                <div class="slide-pic">
                  <img src="../../images/idea-02.svg" alt="">
                </div>
                <span class="slide-name">In development</span>
              </div>
              <div class="slide">
                <div class="slide-pic">
                  <img src="../../images/idea-03.svg" alt="">
                </div>
                <span class="slide-name">Ready to order</span>
              </div>
              <div class="slide slide-last">
                <div class="slide-pic">
                  <img src="../../images/idea-04.svg" alt="">
                </div>
                <span class="slide-name">Shipment</span>
              </div>
            </div>
          </div>
          <div class="idea-slider-wrapper">
            <div class="idea-slider-step slick-slider" data-slick='{
              "slidesToShow": 1, "slidesToScroll": 1,"arrows": false, "dots": false, "infinite": true, "asNavFor": ".idea-slider-path", "fade": true, "focusOnSelect": true, "autoplay": true, "autoplaySpeed": 3000
            }'>
              <div class="slide">
                <div class="slide-about">
                  <span>Refine gradually</span>
                  <p>
                    As ideas grow step-by-step Resourced invites you to a flexible approach where you add info at your
                    pace.
                  </p>
                  <p>We’ve killed mandatory field filling.</p>
                </div>
                <div class="slide-pic">
                  <img src="../../images/pic-01.svg" alt="">
                </div>
              </div>
              <div class="slide">
                <div class="slide-about">
                  <span>Furthering your products</span>
                  <p>Get out there, engage with suppliers and define your product.</p>
                  <p>You can count on Resourced to keep track of timelines, comments, notes and documents and always
                    keep them close.</p>
                </div>
                <div class="slide-pic">
                  <img src="../../images/pic-02.svg" alt="">
                </div>
              </div>
              <div class="slide">
                <div class="slide-about">
                  <span>Specs made easy</span>
                  <p>Ever dreamt of being able to consistently specify what you’ve decided to order?</p>
                  <p>Consistent and easy ordering where bill of material, material library, costing, planning, and order
                    placement are always
                    easily accessible.</p>
                </div>
                <div class="slide-pic">
                  <img src="../../images/pic-03.svg" alt="">
                </div>
              </div>
              <div class="slide">
                <div class="slide-about">
                  <span>Production transparency</span>
                  <p>Gone are the days of placing an order and hoping for it to be shipped as agreed.</p>
                  <p>By a smart yet straightforward chain of communication and supplier involvement, your whole team
                    will have full insight
                    in the production status (and much more).</p>
                </div>
                <div class="slide-pic">
                  <img src="../../images/pic-04.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section developers-section">
      <div class="container">
        <div class="developers-top">
          <h2>Built for product developers</h2>
          <p>...not CFOs (but they still love it)</p>
        </div>
        <div class="developers-mid">
          <p>
            Our mission is to streamline product management in the world of footwear and apparel. We prioritize
            customizable
            solutions and flexible support throughout the entire development process. From idea to final shipment, our
            powerful
            platform aligns needs and capabilities into successful partnerships.
          </p>
        </div>
        <div class="developers-bot">
          <span>Join us and transform your approach to
            product development.</span>
          <a href="javascript:void(0)" class="btn popup-btn" data-mfp-src="#signup-popup" data-effect="mfp-zoom-in">Get
            started</a>
        </div>
      </div>
    </div>
    <div class="section review-section">
      <div class="container">
        <!-- "autoplay": true, -->
        <div class="review-slider slick-slider" data-slick='{
              "slidesToShow": 1, "slidesToScroll": 1,"arrows": false, "dots": true, "adaptiveHeight": true, "infinite": true, "fade": true, "focusOnSelect": true, "autoplaySpeed": 3000
            }'>
          <div class="slide">
            <div class="slide-img">
              <div>
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/review-person-01.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/review-person-01.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/review-person-01.jpg" class="lazy"
                    alt="">
                </picture>
              </div>
            </div>
            <div class="slide-text">
              <div class="slide-text-logo">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/review-slide-logo-01.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/review-slide-logo-01.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/review-slide-logo-01.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <p>“Implementing the PLM has been with full support from the Resourced team, in all from user support,
                suggesting on
                methodology and actual system implementation. We´re really happy to work with Resourced.”</p>
              <div class="slide-text-author">
                <span>Rikard Adolfsson</span>
                <span>Supply Chain director– Axel Arigato</span>
              </div>
            </div>
          </div>

          <div class="slide">
            <div class="slide-img">
              <div>
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/review-person-02.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/review-person-02.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/review-person-02.jpg" class="lazy"
                    alt="">
                </picture>
              </div>
            </div>
            <div class="slide-text">
              <div class="slide-text-logo">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/review-slide-logo-02.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/review-slide-logo-02.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/review-slide-logo-02.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <p>“We´ve come to work very closely with Resourced and are growing together. Sharing a similar vision and
                approach to
                system support we quickly opted for the Resourced PLM.”</p>
              <div class="slide-text-author">
                <span>Jonathan Hirschfeldt</span>
                <span>CEO and Co founder – Eytys</span>
              </div>
            </div>
          </div>

          <div class="slide">
            <div class="slide-img">
              <div>
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/review-person-03.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/review-person-03.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/review-person-03.jpg" class="lazy"
                    alt="">
                </picture>
              </div>
            </div>
            <div class="slide-text">
              <div class="slide-text-logo">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/review-slide-logo-03.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/review-slide-logo-03.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/review-slide-logo-03.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <p>“We choose Resourced PLM ahead of more enterprise driven solutions because they understand us and has
                an
                updated
                approach to how I as a user want to get supported by a system.”</p>
              <div class="slide-text-author">
                <span>Rebecka Lidenwall</span>
                <span>Product developer – Chimi eyewear</span>
              </div>
            </div>
          </div>

          <div class="slide">
            <div class="slide-img">
              <div>
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/review-person-04.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/review-person-04.jpg"
                    class="lazy-web" type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/review-person-04.jpg" class="lazy"
                    alt="">
                </picture>
              </div>
            </div>
            <div class="slide-text">
              <div class="slide-text-logo">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/review-slide-logo-04.webp"
                    class="lazy-web" type="image/webp">
                  <source srcset="../../images/pixel.png" data-original="../../images/review-slide-logo-04.png"
                    class="lazy-web" type="image/png">
                  <img src="../../images/pixel.png" data-original="../../images/review-slide-logo-04.png" class="lazy"
                    alt="">
                </picture>
              </div>
              <p>“As a growing company looking to do things efficiently, we needed to find a system that really worked
                for us. Not the
                other way around.
                Selecting and getting started with Resourced was an easy decision.”</p>
              <div class="slide-text-author">
                <span>Sara Hellströmer</span>
                <span>Head of Product – Flattered</span>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="section library-section">
      <div class="library-bg">
        <img src="../../images/qw.svg" alt="">
        <div class="library-items">
          <div class="centra">
            <span>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/orbits/orbits-centra.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/orbits/orbits-centra.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/orbits/orbits-centra.png" class="lazy"
                  alt="">
              </picture>
            </span>
          </div>
          <div class="ms2">
            <span>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/orbits/orbits-ms2.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/orbits/orbits-ms2.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/orbits/orbits-ms2.png" class="lazy"
                  alt="">
              </picture>
            </span>
          </div>
          <div class="extend">
            <span>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/orbits/orbits-extend.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/orbits/orbits-extend.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/orbits/orbits-extend.png" class="lazy"
                  alt="">
              </picture>
            </span>
          </div>
        </div>
        <div class="library-items library-items__sm">
          <div class="shopify">
            <span>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/orbits/orbits-shopify.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/orbits/orbits-shopify.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/orbits/orbits-shopify.png" class="lazy"
                  alt="">
              </picture>
            </span>
          </div>
          <div class="madden">
            <span>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/orbits/orbits-madden.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/orbits/orbits-madden.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/orbits/orbits-madden.png" class="lazy"
                  alt="">
              </picture>
            </span>
          </div>
          <div class="b-come">
            <span>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/orbits/orbits-b-come.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/orbits/orbits-b-come.png"
                  class="lazy-web" type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/orbits/orbits-b-come.png" class="lazy"
                  alt="">
              </picture>
            </span>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="library-inner">
          <p>
            Pre-built integrations connect you to some of the biggest eCommerce and ERP solutions.
          </p>
          <a href="javascript:void(0)" class="btn popup-btn" data-mfp-src="#signup-popup" data-effect="mfp-zoom-in">Get
            started</a>
        </div>
      </div>
      <span>Or if you’re that person – just do a classic all-info Excel export</span>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
