<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>RESOURCED</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#13468C">
  <meta name="msapplication-navbutton-color" content="#13468C">
  <meta name="apple-mobile-web-app-status-bar-style" content="#13468C">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main">
    <div class="solution-main">
      <div class="solution-main-top">
        <div class="container">
          <div class="inner">
            <div class="text">
              <span>The PLM Alternative</span>
              <p>Powerful tools to support product developers professionals.</p>
            </div>
            <div class="link">
              <a href="javascript:void(0)">Request a demo</a>
            </div>
          </div>
        </div>
      </div>
      <div class="solution-main-bot">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <div class="text">
                1234
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
