<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>RESOURCED</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#10084d">
  <meta name="msapplication-navbutton-color" content="#10084d">
  <meta name="apple-mobile-web-app-status-bar-style" content="#10084d">
</head>

<body>

  ${require('../parts/header-source.html')}
  <main class="main source-suppliers">
    <div class="source-suppliers-success">
      <div class="source-suppliers-success__bg-left">
        <picture>
          <source srcset="../../images/pixel.webp" data-original="../../images/success-bg-01.webp" class="lazy-web"
            type="image/webp">
          <source srcset="../../images/pixel.png" data-original="../../images/success-bg-01.png" class="lazy-web"
            type="image/png">
          <img src="../../images/pixel.png" data-original="../../images/success-bg-01.png" class="lazy" alt="">
        </picture>
      </div>
      <div class="source-suppliers-success__bg-right">
        <picture>
          <source srcset="../../images/pixel.webp" data-original="../../images/success-bg-02.webp" class="lazy-web"
            type="image/webp">
          <source srcset="../../images/pixel.png" data-original="../../images/success-bg-02.png" class="lazy-web"
            type="image/png">
          <img src="../../images/pixel.png" data-original="../../images/success-bg-02.png" class="lazy" alt="">
        </picture>
      </div>
      <span class="source-suppliers-success__title">Thank you!</span>
      <p class="source-suppliers-success__text">A confirmation email has been sent.<br> We will contact you within 48
        hours.</p>
      <a href="javascript:void(0)" class="source-suppliers-success__link">
        <svg width="37" height="40" viewBox="0 0 37 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.57676 39.1316H10.6535C11.1434 39.1316 11.6129 38.9344 11.959 38.5832C12.3052 38.2321 12.4999 37.7555 12.4999 37.2588V26.4897C12.4999 25.8689 12.7428 25.2735 13.1758 24.8346C13.6085 24.3953 14.1955 24.1489 14.8074 24.1489H22.1923C22.8042 24.1489 23.3911 24.3953 23.8239 24.8346C24.2569 25.2735 24.4998 25.8689 24.4998 26.4897V37.2588C24.4998 37.7555 24.6945 38.2321 25.0407 38.5832C25.3868 38.9344 25.8563 39.1316 26.3462 39.1316H31.4229C32.7696 39.1316 34.0608 38.5892 35.0131 37.6232C35.965 36.6572 36.5 35.3473 36.5 33.9815V16.938C36.4988 15.466 35.8812 14.0636 34.8017 13.08L21.8787 1.43116H21.8784C20.9466 0.593998 19.7449 0.131592 18.5 0.131592C17.2551 0.131592 16.0534 0.594054 15.1216 1.43116L2.19865 13.08H2.19835C1.11873 14.0636 0.501266 15.466 0.5 16.938V33.9815C0.5 35.3473 1.035 36.6572 1.98693 37.6232C2.93916 38.5892 4.23043 39.1316 5.57708 39.1316H5.57676Z"
            fill="#10084D" />
        </svg>
        Take me home
      </a>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
