<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>RESOURCED</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#10084d">
  <meta name="msapplication-navbutton-color" content="#10084d">
  <meta name="apple-mobile-web-app-status-bar-style" content="#10084d">
</head>

<body>

  ${require('../parts/header-source.html')}
  <main class="main source-suppliers">
    <div class="section source-main">
      <div class="container">
        <div class="source-main__wrap">
          <span class="source-main__title">Source footwear suppliers in three simple steps.</span>
          <picture class="source-main__pic">
            <source media="(max-width: 767px)" srcset="../../images/pixel.webp"
              data-original="../../images/source-main-pic__mob.webp" class="lazy-web" type="image/webp">
            <source media="(max-width: 767px)" srcset="../../images/pixel.png"
              data-original="../../images/source-main-pic__mob.png" class="lazy-web" type="image/png">
            <img media="(max-width: 767px)" src="../../images/pixel.png"
              data-original="../../images/source-main-pic__mob.png" class="lazy" alt="">
          </picture>
        </div>
      </div>
    </div>
    <div class="section source-steps">
      <div class="container">
        <div class="source-steps__list">
          <div class="source-steps__list-item">
            <span>Send quotation request</span>
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/source-icon1.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/source-icon1.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/source-icon1.png" class="lazy" alt="">
              </picture>
            </div>
            <p>Fill in a few details about your desired product.</p>
            <svg width="60" height="18" viewBox="0 0 60 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M59.5804 9.84195C60.013 9.40931 60.013 8.70787 59.5804 8.27524L52.5302 1.22505C52.0975 0.792412 51.3961 0.792412 50.9635 1.22505C50.5308 1.65768 50.5308 2.35912 50.9635 2.79176L57.2303 9.05859L50.9635 15.3254C50.5308 15.7581 50.5308 16.4595 50.9635 16.8921C51.3961 17.3248 52.0975 17.3248 52.5302 16.8921L59.5804 9.84195ZM0.240234 10.1664H58.797V7.95076H0.240234V10.1664Z"
                fill="black" />
            </svg>
          </div>
          <div class="source-steps__list-item">
            <span>Global sourcing</span>
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/source-icon2.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/source-icon2.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/source-icon2.png" class="lazy" alt="">
              </picture>
            </div>
            <p>We conduct sourcing
              according to request.</p>
            <svg width="60" height="18" viewBox="0 0 60 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M59.5804 9.84195C60.013 9.40931 60.013 8.70787 59.5804 8.27524L52.5302 1.22505C52.0975 0.792412 51.3961 0.792412 50.9635 1.22505C50.5308 1.65768 50.5308 2.35912 50.9635 2.79176L57.2303 9.05859L50.9635 15.3254C50.5308 15.7581 50.5308 16.4595 50.9635 16.8921C51.3961 17.3248 52.0975 17.3248 52.5302 16.8921L59.5804 9.84195ZM0.240234 10.1664H58.797V7.95076H0.240234V10.1664Z"
                fill="black" />
            </svg>
          </div>
          <div class="source-steps__list-item">
            <span>Deal selection</span>
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/source-icon3.webp" class="lazy-web"
                  type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/source-icon3.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/source-icon3.png" class="lazy" alt="">
              </picture>
            </div>
            <p>Pick a deal and connect with the supplier.</p>
          </div>
        </div>
        <a href="javascript:void(0)" class="btn">
          Get started
          <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.99259 6.08662C8.96572 6.21979 8.8807 6.3433 8.74986 6.44001L1.58102 11.7729C1.42183 11.9075 1.1918 11.9894 0.945531 11.999C0.699043 12.0087 0.457974 11.9455 0.278999 11.824C0.100018 11.7028 -0.000825902 11.534 6.64765e-06 11.3579C0.000840151 11.1816 0.103353 11.0134 0.283582 10.8929L6.86462 6L0.283581 1.10711C0.103352 0.98658 0.000837791 0.818443 6.17925e-06 0.64212C-0.00082734 0.465946 0.100018 0.297211 0.278999 0.175953C0.45798 0.0545353 0.699048 -0.00870478 0.94553 0.000966424C1.19181 0.0106386 1.42184 0.0924743 1.58102 0.227137L8.74986 5.55999C8.93842 5.70016 9.0278 5.89389 8.99239 6.08657L8.99259 6.08662Z"
              fill="white" />
          </svg>
        </a>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
