<!DOCTYPE html>
<html>

<body>
  <div class="container" style="padding-top: 200px;">
    <h1 style="color:#13468C; font-weight: 400;">Resourced Status Page</h1>
    <ul>
      <li>
        <a href="/" style="color:#13468C; font-size: 18px; line-height: 150%;">Home page</a>
      </li>
      <li>
        <a href="/solution" style="color:#13468C; font-size: 18px; line-height: 150%;">Solution</a>
      </li>
      <li>
        <a href="/about" style="color:#13468C; font-size: 18px; line-height: 1.1;">About</a>
      </li>
      <li>
        <a href="/pricing" style="color:#13468C; font-size: 18px; line-height: 1.1;">Pricing</a>
      </li>
      <li>
        <a href="/policy" style="color:#13468C; font-size: 18px; line-height: 1.1;">Policy</a>
      </li>
    </ul>
  </div>
</body>

</html>
