<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>RESOURCED</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#10084d">
  <meta name="msapplication-navbutton-color" content="#10084d">
  <meta name="apple-mobile-web-app-status-bar-style" content="#10084d">
</head>

<body>

  ${require('../parts/header-pricing.html')}
  <main class="main">
    <div class="policy policy--terms">
      <div class="container">
        <h1>Terms & Conditions</h1>
        <p>Please read the following terms and conditions carefully as it sets out the terms of a legally binding
          agreement between you (the reader) and Business Standard Private Limited.
        </p>
      </div>
      <div class="policy__inner">
        <div class="container">
          <div class="policy__table">
            <h2>Table of Contents</h2>
            <ol>
              <li><span>1.</span><a href="#item-01">Introduction</a></li>
              <li><span>2.</span><a href="#item-02">Registration Access and Use</a></li>
              <li><span>3.</span><a href="#item-03">Privacy Policy and Registration</a></li>
              <li><span>4.</span><a href="#item-04">Personal Subscription Services</a></li>
              <li><span>5.</span><a href="#item-05">Subscription Period, Renewal and Cancellation of Personal
                  Subscriptions</a></li>
              <li><span>6.</span><a href="#item-06">Who Your Personal Subscription Contract is with</a></li>
              <li><span>7.</span><a href="#item-07">Third Party Sites and Services</a></li>
            </ol>
          </div>
          <div class="policy__box" id="item-01">
            <h2>1) Introduction</h2>
            <p>This following sets out the terms and conditions on which you may use the content on
              business-standard.com website, business-standard.com's mobile browser site, Business Standard instore
              Applications and other digital publishing services (www.smartinvestor.in, www.bshindi.com and
              www.bsmotoring,com) owned by Business Standard Private Limited, all the services herein will be referred
              to as Business Standard Content Services.</p>
          </div>
          <div class="policy__box" id="item-02">
            <h2>2) Registration Access and Use</h2>
            <p>We welcome users to register on our digital platforms. We offer the below mentioned registration services
              which may be subject to change in the future. All changes will be appended in the terms and conditions
              page and communicated to existing users by email.</p>
            <p>Registration services are offered for individual subscribers only. If multiple individuals propose to
              access the same account or for corporate accounts kindly contact or write in to us. Subscription rates
              will vary for multiple same time access.</p>
            <p>The nature and volume of Business Standard content services you consume on the digital platforms will
              vary according to the type of registration you choose, on the geography you reside or the offer you
              subscribe to.</p>
            <p>a) Free Registration</p>
            <p>b) Premium Registration</p>
            <p>c) Special Offers</p>
            <p>d) Combo registrations with partners</p>
            <p>The details of the services and access offered for each account have been listed on
              www.business-standard.com/subscription-cart/product</p>
            <p>We may in exceptional circumstances cease to provide subscription services. We will give you at least 7
              days notice of this, if possible. If we do so, then we will have no further obligation to you.</p>
          </div>
          <div class="policy__box" id="item-03">
            <h2>3) Privacy Policy and Registration</h2>
            <p>All information received by us from your registration on business-standard.com or other digital products
              of Business Standard will be used by Business Standard in accordance with our Privacy Policy. Kindly read
              the below mentioned details.</p>
            <p>On registration, we expect you to provide Business Standard with an accurate and complete information of
              the compulsory fields. We also expect you to keep the information secure, specifically access passwords
              and payment information. Kindly update the information periodically to keep your account relevant.
              Business Standard will rely on any information you provide to us.</p>
            <p>Each registration is for a single user only. On registration, you will choose a user name and password
              ("ID"). You are not allowed to share your ID or give access to your account to anyone else. Business
              Standard Premium subscription does not allow multiple users on a network or within an organization to use
              the same ID.</p>
            <p>On knowledge, Business Standard may cancel or suspend your access to Business Standard premium services
              if it comes across you sharing your personal access without further obligation to you.</p>
            <p>You are responsible for all the use of business-standard.com premium service made by you or anyone else
              using your ID and for preventing unauthorised use of your ID. If you believe there has been any breach of
              security such as the disclosure, theft or unauthorised use of your ID or any payment information, you must
              notify Business Standard immediately by e-mailing us at assist@bsmail.in. We recommend that you do not
              select an obvious user password (such as your name) and that you change it regularly.</p>
            <p>If you provide Business Standard with an email address that will result in any messages Business Standard
              may send you being sent to you via a network or device operated or owned by a third party (e.g. your
              employer or college) then you promise that you are entitled to receive those messages. To ensure email's
              land in your inbox, you will add the bsmail receipt id to your safe list. You also agree that Business
              Standard may stop sending messages to you without notifying you.</p>
            <blockquote>
              <h3>Important - Kindly note</h3>
              <p>(A) When you participate and choose to subscribe to joint content subscription offers that Business
                Standard partners with; your email id, access password and entered personal information will be shared
                with the participating content partner brand via an encrypted server to server protocol. This sharing is
                to facilitate your seamless access across the partner brand's platform. Once you login to the partner
                brand's platform, specific terms and privacy policies of the partner brand (mentioned on its website)
                will apply.</p>
              <p>(B) Joint offers including special price offers are generally limited to new users on the partner
                sites. Clubbed Offers on partner sites will not be available to you should your email id be registered
                with the partner website.</p>
              <p>You are advised to study the offer before you subscribe.</p>
              <p>Merely subscribing to such a joint offer does not make you eligible to gain access to the partner
                platform. Business Standard does not take responsibility of providing you with an access on the partner
                site for existing users/subscribers of these sites.</p>
              <p>(C) When you subscribe to joint offers supported by (non-content) brands; specific brands would ask you
                to share personal or private information in lieu of a value that the brand extends. By participating in
                such offers you implicitly and by confirming the terms of the offer you agree to share your registration
                information and personal data with the concerned brand. The brand or its associates may use this
                personal information to contact you with their promotional offers. Further by participating to such
                offers your will be additionally governed by the privacy policy and terms and conditions of the
                concerned brand. You are advised to go through them carefully before you decide to opt in.</p>
              <p>As a registered user of or subscriber to business-standard.com you may choose to use
                business-standard.com's "Remember me" log in feature that enables you to be logged in automatically to
                business-standard.com whenever you visit business-standard.com without having to manually log in each
                time. We recommend that you do not enable this feature on any computer that is or may be used by anyone
                other than you in order to prevent unauthorized access by third parties to both your subscription
                details and features of business-standard.com personal to you.</p>
            </blockquote>
          </div>
          <div class="policy__box" id="item-04">
            <h2>4. Personal Subscription Services</h2>
            <p>Personal subscription services include Business Standard premium access to behind the pay wall content.
              When you subscribe to Business Standard Premium access, you gain access to opinion pieces, comment and
              exclusive features specially chosen for you by the Business Standard editors.</p>
            <p>The nature of content behind the pay wall is subject to change; the final decision of which lies with the
              Editor.</p>
            <p>
              <strong>Types of subscription:</strong>
              Services may differ from country to country and the device from which you subscribe. Subscriptions
              packages and price may also vary in time.
            </p>
            <p>
              <strong>Contract formation:</strong>
              Business Standard will try to process your subscription promptly but does not guarantee that your
              subscription will be activated by any specified time. By submitting your payment and other subscription
              details, you are making an offer to us to buy a subscription. Your offer will only be accepted by us and a
              contract formed when we have successfully verified your payment details and email address, at which point
              we will provide you with access to your subscription. Business Standard reserves the right to reject any
              offer in its discretion, for any or no reason.
            </p>
            <p>Business Standard may partner with third party content providers to offer bundled services, under which
              the payment for both the services will be collected by Business Standard. Business Standard will endeavor
              to provide a seamless access to all such third parties with a single one point access. There could be a
              gap in this seamless access due to a technology breakdown, temporary disconnection of the internet
              connection or any factors beyond the reasonable control of Business Standard. In such cases the contract
              will be formed once the access to the partner services are restored.</p>
            <p>You are requested to read through the terms and conditions offered by content partners to Business
              Standard. Most partners offer bundled services for new users. Existing subscribers of partners are not
              eligible for bundled subscription. Should you happen to be one please note that the partner will be liable
              to reject your offer to subscribe under the bundled subscription not leading to contract formation as a
              result.</p>
            <p>
              <strong>Payment details:</strong>
              When you purchase a subscription, you must provide us with complete and accurate payment information. By
              submitting payment details you promise that you are entitled to purchase a subscription using those
              payment details. If we do not receive payment authorization or any authorization is subsequently
              cancelled, we may immediately terminate or suspend your access to your subscription. In suspicious
              circumstances we may contact the issuing bank/payment provider and/or law enforcement authorities or other
              appropriate third parties. If you are entitled to a refund under these terms and conditions we will credit
              that refund to the card or other payment method you used to submit payment, unless it has expired in which
              case we will contact you.
            </p>
            <p>Business Standard will use the services of quality third party payment service providers to process your
              payment. Payment options are primarily through credit card. Business Standard may offer other payment
              mechanisms from time to time.</p>
            <p>
              <strong>Pricing:</strong>
              The subscription price will be made clear to you on our sign-up pages or otherwise during the sign-up
              process and may vary from time to time, by region or by country. You agree to pay the fees at the rates
              notified to you at the time you purchase your subscription. Subscription to premium services on Business
              Standard are generally of monthly frequency. Business Standard however may choose to offer fixed term or
              fixed payment frequency offers from time to time. The currency in which your subscription is payable will
              be specified during the order process, depending on the service and your country of residence. Eligibility
              for any discounts is ascertained at the time you subscribe and cannot be changed during the term of your
              subscription. We will always tell you in advance of any increase in the price of your subscription and
              offer you an opportunity to cancel it if you do not wish to pay the new price.
            </p>
            <p>
              <strong>Taxes:</strong>
              Subscription and access to content services fall under the purview of Service Tax as per the current
              indirect taxation policy, Government of India. Taxes are applicable for consumption of content on the
              website and other products of Business Standard uniformly for customers based in India and outside the
              country. Unless otherwise indicated, prices stated on our website are inclusive of applicable Service Tax,
              any applicable value added tax (VAT) or other sales taxes.
            </p>
            <p>
              <strong>Pricing errors:</strong>
              If we incorrectly state a price to you whether online or otherwise, we are not obliged to provide you with
              a subscription at that price, even if we have mistakenly accepted your offer to buy a subscription at that
              price, and we reserve the right to subsequently notify you of any pricing error. If we do this, you may
              cancel the subscription without any obligation to us and we will refund you any money you have paid us in
              full, or you may pay the correct price. If you refuse to exercise either of these choices then we may
              cancel your subscription and will refund you any money you have paid us in full. We will always act in
              good faith in determining whether a genuine pricing error has occurred.
            </p>
            <p>
              <strong>Other costs:</strong>
              In addition to any subscription fees you pay, you are responsible for paying any internet connection or
              other telecommunications charges that you may incur by accessing the premium services or using the
              services available on it. For example, if you use any of our mobile services then your network operator
              may charge you for data or messaging services.
            </p>
          </div>
          <div class="policy__box" id="item-05">
            <h2>5. Subscription Period, Renewal and Cancellation of Personal Subscriptions</h2>
            <p>
              <span>Renewals:</span>
              If you chose to pay monthly, your subscription will continue until you tell us that you no longer wish to
              receive it, in which case you will stop paying the monthly fees. We will notify you at least 7 days in
              advance of any changes to the price in your subscription that will apply upon next monthly renewal.
            </p>
            <p>Please visit the "How to cancel" section below for details of how to cancel your monthly subscription.
            </p>
            <p>Unless you notify us before the end of your chosen subscription period that you no longer wish to receive
              it, your subscription will renew for another period as applicable. We will charge the subscription using
              the same card or other payment method that you previously used.</p>
            <p>
              <span>Cancellation Policy</span>
              For Digital subscriptions by placing your order you agree that we may start your subscription immediately
              upon our accepting your order. This means that you are not entitled to a refund if you change your mind
              after we have provided you with access to your subscription.
            </p>
            <p>Except as set out in the previous section, you do not have any right to cancel your subscription or any
              part of it until the end of your then current subscription period.</p>
            <p>Although you may notify us of your intention to cancel at any time, such notice will only take effect at
              the end of your then current subscription period, and you will not receive a refund</p>
            <p>
              <span>How to cancel?</span>
              You may notify us of your wish to cancel your subscription by contacting our Customer Services team at
              assist@bsmail.in. To enable us cancel your subscription please provide us with your complete name (as was
              in the subscription order form), Email address and Contact number clearly written out.
            </p>
            <p>
              <span>Cancellation by us:</span>
              Business Standard reserves the right to suspend or terminate your subscription if you breach these terms
              and conditions, with or without notice and without further obligation to you. We may also suspend or
              terminate your subscription if we are prevented from providing services to you by circumstances beyond our
              control. If we terminate your subscription for any reason and/or permanently cease publishing
              business-standard.com, or cease to provide subscription services then, unless there are exceptional
              circumstances, we will provide you with a pro rata refund to your credit card. This means that we will
              refund you with any amounts that you have paid us in advance that relate to any remaining and unexpired
              period of your subscription.
            </p>
            <p>
              <span>Cancellation of your registration:</span>
              If you are a registered user, but not a subscriber, then Business Standard reserves the right to suspend
              or terminate your registration at any time, with or without notice and without further obligation to you.
              If you would like to cancel your registration then please contact our customer services team at
              assist@bsmail.in.
            </p>
            </p>
          </div>
          <div class="policy__box" id="item-06">
            <h2>6. Who Your Personal Subscription Contract is with</h2>
            <p>If you buy a Business-standard.com digital subscription and are resident in any country, then you will be
              contracting with Business Standard Private Limited, Nehru House, 4, Bahadur Shah Zafar Marg, New Delhi -
              110 002</p>
          </div>
          <div class="policy__box" id="item-07">
            <h2>7. User Generated Content</h2>
            <p>Business-standard.com includes comments sections, blogs and other interactive features that allow
              interaction between users and between users and Business Standard. We call the information posted by or
              contributed by users "User Generated Content" or "UGC".</p>
            <p>If you wish to view or participate by way of UGC then you must comply with specific rules and guidelines.
              We also recommend that you read our Comments Guidelines which provide further guidance in relation to
              commenting on Business-standard.com.</p>
            <p>You are responsible for all the content of any of your UGC that you or we publish. You are financially
              responsible to us for any claim against us by any third party that your UGC is not in accordance with the
              UGC policy</p>
            <p>You further agree that you will:</p>
            <p>* Only publish UGC that is your original content and will not infringe the copyright or other rights of
              any third party when publishing UGC. Not post, link to or otherwise publish any UGC containing any form of
              advertising or promotion for goods and services or any spam or other form of unsolicited communication.
            </p>
            <p>* Not post, link to or otherwise publish any UGC with recommendations to buy or not buy a particular
              share or other investment or which contain confidential information of another party or which otherwise
              have the purpose of affecting the price or value of any share or other investment.</p>
            <p>* Not post, link to or otherwise publish any UGC that is threatening, offensive, libellous, indecent or
              otherwise unlawful.</p>
            <p>* Not post comments that are discriminatory in nature, for example, comments which make attacks on the
              grounds of race, religion, sex, gender, sexual orientation, disability or age.</p>
            <p>* Respectfully challenge different points of view but not personally attack other commentators.</p>
            <p>* Not disguise the origin of any UGC and not impersonate any person or entity (including Business
              Standard employees or Forum guests or hosts) or misrepresent any connection with any person or entity.</p>
            <p>* Not post or otherwise publish any UGC unrelated to the Forum or the Forum's topic.</p>
            <p>* Not post or transmit any UGC that contains software viruses, files or code designed to interrupt,
              destroy or limit the functionality of Business-Standard.com or any computer software or equipment.</p>
            <p>* Not collect or store other users personal data.</p>
            <p>* Not restrict or inhibit any other user from using the Forums.</p>
            <p>* Comply with the guidelines for commenting set out in our Commenting FAQ.</p>
            <p>It is not possible for Business Standard to fully monitor all UGC published on business-standard.com but
              where we have actually received notice of any UGC that is potentially misleading, untrue, offensive,
              unlawful, infringes third party rights or is potentially in breach of these terms and conditions, then we
              will review that UGC, decide whether to remove it from business-standard.com and act accordingly. This may
              include banning a user from participation in UGC on Business-standard.com. If you believe that any UGC
              published on business-standard.com infringes any legal rights that you may have or is not allowed under
              these terms and conditions, please notify us immediately with specific details by contacting us at
              assist@bsmail.in or feedback@bsmail.in</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  ${require('../parts/footer.html')}

</body>

</html>
