.developers-section {
  padding: 64px 0;
  background-color: #f8f7fa;
  & .row {
    display: flex;
    flex-wrap: wrap;
  }
  & h2 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    @media (max-width: 991px) {
      font-size: 31px;
      line-height: 38px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 34px;
    }
    & + p {  text-align: center;}
  }
  
  & p {
    margin: 0;
    font-size: 25px;
    line-height: 140%;
  
    @media (max-width: 991px) {
      font-size: 21px;
    }
    @media (max-width: 767px) {
      font-size: 18px;
    }
    & b {
      font-weight: 400;
      color: $red;
    }
    & span {
      color: $lawender2;
    }
  }

  & .developers-top {
    margin-bottom: 64px;
    @media (max-width: 991px) {
      margin-bottom: 34px;
    }
  }
  & .developers-mid {
    max-width: 1120px;
    margin: 0 auto 64px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
    & p {
      text-align:justify
    }
  }
  & .developers-bot {
    & span {
      display: block;
      max-width: 700px;
      margin: 0 auto;
      margin-bottom: 64px;
      font-weight: 500;
      font-size: 39px;
      line-height: 45px;
      text-align: center;
      @media (max-width: 767px) {
        margin-bottom: 30px;
        font-size: 25px;
        line-height: 31px;
      }
    }
    & a {
      max-width: 174px;
      margin: 0 auto;
      background-color: #5a36c7 !important;
      &:hover {
        background-color: $accent-dark !important;
      }
    }
  }
}
