.main-section.about {
  position: relative;
  height: fit-content;
  min-height: 288px;
  padding-top: 170px;
  padding-bottom: 84px;
  @media (max-width: 991px) {
    padding-top: 130px;
    padding-bottom: 84px;
  }
  @media (max-width: 767px) {
    padding-top: 134px;
    min-height: 300px;
  }
  @media (max-width: 390px) {
    padding-top: 114px;
  }
  & picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
}

.about-main {
  margin: 0 auto;
  & > span {
    display: block;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 33px;
    font-weight: 500;
    font-size: 78px;
    line-height: 90px;
    text-align: center;
    color: $white;
    @media (max-width: 991px) {
      margin-bottom: 14px;
      font-size: 40px;
      line-height: 43px;
    }
    @media (max-width: 767px) {
      font-size: 31px;
      line-height: 35px;
    }
  }
  & p {
    max-width: 900px;
    margin: 0 auto;
    font-size: 39px;
    line-height: 45px;
    text-align: center;
    color: #ffffff;
    @media (max-width: 991px) {
      font-size: 21px;
      line-height: 28px;
    }
    @media (max-width: 767px) {
      font-size: 17px;
      line-height: 23px;
    }
  }
}

.team-section {
  .container {
    width: 1140px;
  }
}

.about-commitment {
  position: relative;
  max-width: 1352px;
  margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
padding-top: 43px;
padding-bottom: 107px;
&::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #000;

}
  @media (max-width: 991px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.about-commitment__title {
  display: block;
  margin-bottom: 25px;
  text-align: center;
font-weight: 500;
font-size: 48px;
line-height: 55px;
text-align: center;
color: $black;
@media (max-width: 991px) {
font-size: 37px;
line-height: 42px;
}

@media (max-width: 767px) {
font-size: 29px;
line-height: 35px;
}
}

.about-commitment__subtitle {
  max-width: 940px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  color: #1D1D1B;
  @media (max-width: 991px) {
    font-size: 21px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.about-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 114px;
  padding-bottom: 104px;
  @media (max-width: 991px) {
    padding-top: 60px;
  }
  @media (max-width: 767px) {
    padding-top: 40px;
  }
}

.about-team__title {
    display: block;
    margin-bottom: 125px;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: $black;
    
    @media (max-width: 991px) {
      margin-bottom: 0;
      padding-bottom: 60px;
      font-size: 37px;
      line-height: 42px;
    }
    
    @media (max-width: 767px) {
      padding-bottom: 40px;
      font-size: 29px;
      line-height: 35px;
    }
}

.about-team__list {
  display: grid;
  grid-template-columns: repeat(4, 256px);
  justify-content: center;
  gap: 60px;
  width: 100%;
  max-width: 1240px;
transition: all 0.3s;
  @media (max-width: 1250px) {
    gap: 20px;
  }
  @media (max-width: 1109px) {
    grid-template-columns: repeat(3, 256px);
  }
  @media (max-width: 991px) {
    gap: 30px;
  }
  
    @media (max-width: 840px) {
      grid-template-columns: repeat(2, 256px);
      gap: 40px;
    }
    @media (max-width: 574px) {
      grid-template-columns: repeat(1, 256px);
    }
  
  & li {
    justify-content: center;
    &:nth-child(1) {
      @media (min-width: 1110px) {
          grid-column: 2/3;
          position: relative;
          right: 50%;
      }
    
    }
    &:nth-child(2) {
      @media (min-width: 1110px) {
         grid-column: 3/4;
          position: relative;
          right: 50%;
      }
     
    }
    &:nth-child(3) {
      @media (min-width: 1110px) {
          grid-column: 4/5;
          position: relative;
          right: 50%;
      }
    
    }
  }
}


// member

.member {
  width: 270px;
}

.member__pic {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  & picture {
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.member__about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  margin: 0 auto;
  margin-left: -7px;
}

.member__about-name {
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}

.member__about-speciality {
  font-family: $Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}

.statistics-section {
  padding-top: 64px;
  padding-bottom: 67px;
  background-color: #f8f7fa;
  border-radius: 0 74px 0 74px;
  @media (max-width: 1199px) {
    border-radius: 0 40px 0 40px;
  }
  @media (max-width: 767px) {
    border-radius: 0 25px 0 25px;
  }
}

.statistics-list {
  display: flex;
  @media (max-width: 1199px) {
    flex-wrap: wrap;
  }
  & li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    @media (max-width: 1199px) {
      width: 50%;
      margin-bottom: 40px;
    }
    @media (max-width: 680px) {
      width: 100%;
    }

    &:nth-child(1) {
      & b {
        color: $accent;
      }
    }
    &:nth-child(2) {
      & b {
        color: $lawender2;
      }
    }
    &:nth-child(3) {
      & b {
        color: $skyblue1;
      }
    }
    &:nth-child(4) {
      & b {
        color: $skyblue2;
      }
    }
    & b {
      margin-bottom: 39px;
      font-family: $Montserrat;
      font-weight: 300;
      font-size: 110px;
      line-height: 134px;
      text-align: center;
      letter-spacing: -0.02em;
      @media (max-width: 991px) {
        margin-bottom: 15px;
      }
      @media (max-width: 574px) {
        margin-bottom: 0;
        font-size: 78px;
        line-height: 115px;
      }
    }
    & span {
      font-weight: 400;
      font-size: 21px;
      line-height: 140%;
      text-align: center;
      color: #000000;
      @media (max-width: 574px) {
        font-size: 18px;
      }
    }
  }
}

.location-section {
  padding-top: 128px;
  @media (max-width: 991px) {
    padding-top: 80px;
  }
  @media (max-width: 767px) {
    padding-top: 40px;
  }
}

.location-title {
  display: block;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 39px;
  line-height: 45px;
  text-align: center;
  color: $black;
  @media (max-width: 1199px) {
    margin-bottom: 10px;
    font-size: 31px;
    line-height: 38px;
  }
  @media (max-width: 767px) {
    font-size: 27px;
  }
}

.location-pic {
  & picture {
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.our-partners-section {
  padding-top: 128px;
  padding-bottom: 73px;
}

.our-partners-title {
  display: block;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 39px;
  line-height: 45px;
  text-align: center;
  color: $black;
  @media (max-width: 1199px) {
    margin-bottom: 40px;
    font-size: 31px;
    line-height: 38px;
  }
  @media (max-width: 767px) {
    font-size: 27px;
  }
}

.our-partners {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 68px;

  & li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 162px;
    width: 25%;
    padding: 0 20px;
    border-right: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
    @media (max-width: 767px) {
      width: 50%;
      min-height: 124px;
    }
    &:nth-child(-n + 4) {
      border-top: none;
      @media (max-width: 767px) {
        border-top: 1px solid #c4c4c4;
      }
    }
    &:nth-child(-n + 2) {
      @media (max-width: 767px) {
        border-top: none;
      }
    }
    &:nth-child(4n),
    &:last-child {
      border-right: none;
      @media (max-width: 767px) {
        border-right: 1px solid #c4c4c4;
      }
    }
    &:nth-child(2n),
    &:last-child {
      @media (max-width: 767px) {
        border-right: none;
      }
    }
    & picture {
      max-width: 100%;
      height: auto;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.our-partners-bot {
  & .row {
    display: flex;
    flex-wrap: wrap;
  }
  & p {
    margin: 0;
    font-size: 25px;
    line-height: 140%;
    color: #000000;
    text-align: right;
    @media (max-width: 991px) {
      margin-bottom: 30px;
      text-align: left;
    }
    @media (max-width: 767px) {
      font-size: 19px;
    }
  }
}

.our-partners-form {
  display: flex;
  align-items: center;
  height: 100%;
  @media (max-width: 991px) {
    width: 100%;
  }
  & .inner {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & input {
    width: 100%;
    height: 42px;
    padding-left: 21px;
    padding-right: 170px;
    border: 1px solid #c4c4c4;
    border-radius: 21px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: $lawender2;
    transition: border 0.3s;
    @media (max-width: 991px) {
      max-width: 100%;
    }
    &:focus {
      border: 1px solid $lawender2;
    }
    &::-webkit-input-placeholder {
      color: $lawender2;
    }
    &::-moz-placeholder {
      color: $lawender2;
    }
    &:-moz-placeholder {
      color: $lawender2;
    }
    &:-ms-input-placeholder {
      color: $lawender2;
    }
  }

  & .btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 156px;
    background-color: $accent;
    color: #fff !important;
    &:hover {
      background-color: $accent-dark;
    }
    @media (max-width: 574px) {
      width: 120px;
    }
  }
}
