.contact-main {
  background: #2576bc;
  position: relative;
  padding-top: 134px;
  @include bp(xs) {
    padding-top: 100px;
  }
}

.contact-top {
  position: relative;
  z-index: 2;
}

.contact-top__wrapper {
  display: flex;
  position: relative;
  z-index: 1;
  @include bp(md) {
    flex-direction: column;
    padding-bottom: 60px;
  }
  @include bp(xs) {
    padding-bottom: 40px;
  }
}

.contact-info {
  width: calc(100% - 410px);
  padding-right: 30px;
  padding-top: 5px;
  color: #fff;
  @include bp(md) {
    width: 100%;
  }
}

.contact-title {
  display: block;
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 8px;
  @include bp(xs) {
    font-size: 32px;
    line-height: 40px;
  }
}

.contact-descr {
  max-width: 530px;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  @include bp(xs) {
    font-size: 18px;
    padding-bottom: 20px;
  }
  p {
    margin-bottom: 35px;
    @include bp(xs) {
      margin-bottom: 15px;
    }
  }
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  a {
    display: block;
    width: 60px;
    margin-right: 32px;
    margin-bottom: 10px;
    text-decoration: none;
    @include bp(xs) {
      margin-right: 20px;
    }
    > div {
      width: 60px;
      height: 60px;
      background: #fff;
      box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: linear .2s;
    }
    > span {
      display: block;
      text-decoration: none;
      text-align: center;
      margin-top: 9px;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      font-family: $Montserrat;
      white-space: nowrap;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      min-width: max-content;
    }
    &:hover {
      text-decoration: none;
      > div {
        background-color: rgb(81, 164, 228);
      }
      svg{
        path{
          fill: #fff;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.contact-form {
  width: 410px;
  position: relative;
  @include bp(md) {
    max-width: 100%;
    margin: 0 auto;
  }
  .input-wrapper {
    position: relative;
    margin-bottom: 32px;
    &.select-wrapper {
      svg {
        position: absolute;
        pointer-events: none;
        right: 14px;
        top: 12px;
        z-index: 1;
      }
      &.err {
        svg {
          path {
            fill: #ff1d1d;
          }
        }
      }
    }
    &.err {
      .input,
      .textarea {
        border-width: 2px;
        border-color: #ff1d1d;
        + label {
          color: #ff1d1d;
          + svg {
            path {
              fill: #ff1d1d;
            }
          }
        }
      }
      .SumoSelect {
        > .CaptionCont {
          border-width: 2px;
          border-color: #ff1d1d;
        }
        + label {
          color: #ff1d1d;
        }
      }
    }
  }
  .input {
    padding: 0 46px 0 16px;
    width: 100%;
    height: 48px;
    background: #fff;
    border: 1px solid #858c94;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: $Montserrat;
    color: rgba(9, 16, 29, 0.8);
    &::placeholder {
      font-weight: 400;
      color: rgba(184, 184, 184, 0.8);
    }
    + label {
      position: absolute;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      font-family: $Montserrat;
      padding: 0 4px;
      background-color: #fff;
      width: max-content;
      color: rgba(29, 29, 27, 0.8);
      left: 12px;
      top: -10px;
      span {
        color: #da1414;
      }
      + svg {
        position: absolute;
        right: 14px;
        top: 12px;
        pointer-events: none;
      }
    }
    &:focus {
      border-color: $accent;
      border-width: 2px;
      &::placeholder {
        color: transparent;
      }
      + label {
        color: $accent;
        + svg {
          opacity: 1;
        }
      }
    }
  }
  .SumoSelect {
    display: flex;
    width: 100%;
    &:hover {
      > .CaptionCont {
        box-shadow: none;
      }
    }
    &:focus,
    &.open {
      > .CaptionCont {
        box-shadow: none;
        border-width: 2px;
        border-color: $accent;
      }
    }
    &.open {
      > .optWrapper {
        top: 100%;
        z-index: 10001;
      }
    }
    > .CaptionCont {
      border: 1px solid #858c94;
      width: 100%;
      border-radius: 6px;
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      > span {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        font-family: $Montserrat;
        color: rgba(9, 16, 29, 0.8);
        cursor: pointer;
        &.placeholder {
          font-weight: 400;
          color: rgba(184, 184, 184, 0.8);
        }
      }
      > label {
        cursor: pointer;
        i {
          display: none;
        }
      }
    }
    > .optWrapper {
      border: 1px solid #858c94;
      border-radius: 6px;
      &.isFloating {
        position: absolute;
        max-height: unset;
        top: 100%;
        bottom: auto;
        width: 100%;
      }
      > .options {
        padding: 4px 0;
        li {
          &.opt {
            font-size: 16px;
            line-height: 24px;
            font-family: $Montserrat;
            color: rgba(9, 16, 29, 0.8);
            padding: 6px 16px;
            border: none;
            &.disabled {
              display: none;
            }
            label {
              font-weight: 400;
              margin-bottom: 0;
            }
          }
        }
      }
    }
    + label {
      position: absolute;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      font-family: $Montserrat;
      padding: 0 4px;
      background-color: #fff;
      width: max-content;
      color: rgba(29, 29, 27, 0.8);
      left: 12px;
      top: -10px;
      span {
        color: #da1414;
      }
    }
    &:focus {
      border-color: $accent;
      border-width: 2px;
      &::placeholder {
        color: transparent;
      }
      + label {
        color: $accent;
      }
    }
  }
  .textarea {
    display: block;
    resize: none;
    padding: 12px 16px;
    width: 100%;
    height: 148px;
    background: #fff;
    border: 1px solid #858c94;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: $Montserrat;
    color: rgba(9, 16, 29, 0.8);
    &::placeholder {
      font-weight: 400;
      color: rgba(184, 184, 184, 0.8);
    }
    + label {
      position: absolute;
      font-weight: 600;
      font-size: 13px;
      line-height: 20px;
      font-family: $Montserrat;
      padding: 0 4px;
      background-color: #fff;
      width: max-content;
      color: rgba(29, 29, 27, 0.8);
      left: 12px;
      top: -10px;
      span {
        color: #da1414;
      }
    }
    &:focus {
      border-color: $accent;
      border-width: 2px;
      &::placeholder {
        color: transparent;
      }
      + label {
        color: $accent;
      }
    }
  }
  .policy-text {
    font-family: $Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #979797;
    margin-bottom: 24px;
    margin-top: -24px;
    a {
      color: #979797;
      text-decoration: underline;
      &:hover {
        color: $accent;
      }
    }
  }
  .btn {
    width: 100%;
  }
  .validate-error {
    font-family: $Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    top: calc(100% + 3px);
    padding: 0;
    background-color: transparent;
    transform: none;
    left: 0;
    color: #ff1d1d;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover,
  select:-webkit-autofill,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:hover,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:hover {
    -webkit-text-fill-color: rgba(9, 16, 29, 0.8);
    -webkit-box-shadow: inset 0 0 0 1000px transparent;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: rgba(9, 16, 29, 0.8);
  }
}

.contact-form__inner {
  position: absolute;
  background: #fff;
  box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  border-radius: 16px;
  left: 0;
  top: 0;
  width: 100%;
  padding: 16px 30px 26px;
  @include bp(md) {
    position: static;
  }
  @include bp(xs) {
    padding: 16px 16px 26px;
  }
}

.contact-form__title {
  display: block;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #000;
}

.contact-bot {
  position: relative;
  z-index: 1;
  min-height: 245px;
  background: #51a4e4;
  padding-top: 65px;
  @include bp(xs) {
    padding-top: 40px;
  }
}

.contact-bot__title {
  display: block;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 16px;
  @include bp(xs) {
    margin-bottom: 25px;
    font-size: 20px;
  }
}

.contact-bot__brands {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 45px;
  max-width: calc(100% - 410px);
  @include bp(lg) {
    max-width: 100%;
  }
  @include bp(xs) {
    padding-bottom: 20px;
  }
  li {
    margin-right: 40px;
    margin-bottom: 20px;
    padding: 0 12px;
    height: 64px;
    display: flex;
    align-items: center;
    @include bp(xs) {
      width: 50%;
      margin-right: 0;
      justify-content: center;
    }
    picture {
      max-height: 100%;
      img {
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
}
