.footer {
  padding-top: 56px;
  padding-bottom: 42px;
  background-color: $accent-dark;

  & .row {
    display: flex;
    flex-wrap: wrap;
    & .col-md-3 {
      @media (max-width: 991px) {
        margin-bottom: 40px;
      }
      @media (max-width: 574px) {
        width: 100%;
      }
    }
  }
}

.footer-left {
  & span {
    display: block;
    margin-bottom: 8px;
    font-family: $Montserrat;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-logo {
  max-width: 181px;
  margin-bottom: 112px;
  @media (max-width: 574px) {
    margin-bottom: 48px;
  }
  & picture {
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(136, 93, 226, 0.2);
  }
}

.footer-col {
  padding-top: 8px;
  & > span {
    display: block;
    margin-bottom: 32px;
    font-family: $Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    @media (max-width: 991px) {
      margin-bottom: 15px;
    }
  }
  & a {
    display: block;
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
  }
}
