.header {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: rgba(#fff, 0.04);
  width: 100%;
  height: 70px;
  transition: background 0.2s linear;
  &.fixed {
    background: $blue;
  }
  &__pricing{
    background-color: #fff;
    .header-main-nav{
      li{
        &.has-children{
          >a{
            &:after{
              border-top-color: $accent-dark;
            }
          }
        }
      }
      a{
        color: $accent-dark;
        &:hover{
          &:before{
            background: $accent-dark;
          }
        }
      }
    }
    .header-main-control{
      a{
        color: $accent-dark;
        border-color: $accent-dark;
        &:hover{
          border-color: $accent;
          background-color: $accent;
          color: #fff;
        }
      }
    }
    &.fixed {
      .header-main-nav{
        li{
          &.has-children{
            >a{
              &:after{
                border-top-color: #fff;
              }
            }
          }
        }
        a{
          color: #fff;
          &:hover{
            &:before{
              background: #fff;
            }
          }
        }
      }
      .header-main-control{
        a{
          color: #fff;
          border-color: #fff;
          &:hover{
            border-color: $accent;
            background-color: $accent;
            color: #fff;
          }
        }
      }
    }
  }
}

.header-main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1310px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header-main-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1166px;
  height: 100%;
}

.header-main-nav {
  display: flex;
  align-items: center;
  margin-left: 170px;
  @media (max-width: 991px) {
    margin-left: 0;
  }
  @media (max-width: 767px) {
    display: none;
  }
  & > ul {
    display: flex;
    align-items: center;
    gap: 81px;
    height: 70px;
    @media (max-width: 991px) {
      gap: 40px;
    }
  }
  & li {
    height: 100%;
    &.has-children {
      position: relative;
      &:hover {
        & > a {
          &::after {
            transform: rotate(-180deg) translateY(50%);
          }
        }
        & > .drop-menu {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }

      > a {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: -15px;
          top: calc(50% + 1px);
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #fff;
          transition: transform 0.4s;
        }
      }
      & > .drop-menu {
        position: absolute;
        left: -325px;
        top: calc(100% - 8px);
        display: flex;
        justify-content: space-between;
        width: 579px;
        min-height: 100%;
        padding-top: 22px;
        padding-left: 26px;
        background: #ffffff;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        transform: translateY(15px);
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
        &::before {
          content: "";
          position: absolute;
          bottom: calc(100% - 1px);
          left: 368px;
          width: 0;
          height: 0;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent;
          border-bottom: 8px solid #fff;
        }
      }
      & .drop-menu-item {
        width: 50%;
        &.first {
          & ul > li:nth-child(1) {
            > div {
              img {
                width: 20px;
                padding-bottom: 3px;
              }
            }
          }
          & ul > li:nth-child(2) {
            > div {
              img {
                width: 22px;
                padding-bottom: 3px;
              }
            }
          }
          & ul > li:nth-child(3) {
            > div {
              img {
                width: 25px;
                padding-bottom: 3px;
              }
            }
          }
        }
        &.second {
          & ul > li:nth-child(1) {
            > div {
              img {
                width: 21px;
                padding-left: 3px;
                padding-bottom: 3px;
              }
            }
          }
          & ul > li:nth-child(2) {
            > div {
              img {
                width: 26px;
                padding-bottom: 3px;
                padding-right: 2px;
              }
            }
          }
          & ul > li:nth-child(3) {
            > div {
              img {
                width: 26px;
                padding-bottom: 3px;
                padding-right: 2px;
              }
            }
          }
        }
        & > span {
          display: block;
          margin-bottom: 18px;
          font-family: $Montserrat;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.05em;
          color: #000;
        }
        > ul {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: flex-start;
          & li {
            display: flex;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 34px;
            }
            > div {
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              max-width: 35px;
              margin-right: 2px;
              & picture {
                width: 100%;
                height: 100%;
                & img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
            & > a {
              flex-grow: 1 !important;
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              &:hover {
                & b,
                & span {
                  color: $accent;
                }
              }
              &::before {
                display: none;
              }
              & b {
                display: block;
                font-family: $Montserrat;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.05em;
                color: #000000;
              }
              & span {
                font-family: $Montserrat;
                font-size: 11px;
                line-height: 13px;
                letter-spacing: 0.05em;
                color: #3d3d3d;
              }
            }
          }
        }
      }
    }
    &.current {
      > a {
        pointer-events: none;
        &::before {
          content: "";
          position: absolute;
          bottom: 23px;
          left: -4px;
          right: -4px;
          height: 1px;
          background: $white;
        }
      }
    }
  }

  & a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    text-align: center;
    text-decoration: none;
    &:hover {
      &::before {
        content: "";
        position: absolute;
        bottom: 23px;
        left: -4px;
        right: -4px;
        height: 1px;
        background: $white;
      }
    }
  }
}

.header-main-control {
  @media (max-width: 767px) {
    display: none;
  }
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 114px;
    height: 42px;
    border: 1px solid rgba(#fff, 0.33);
    padding: 5px 10px;
    border-radius: 30px;
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $white;
    text-align: center;
    text-decoration: none;
    &:hover {
      border: 1px solid rgba(#fff, 1);
    }
  }
}

.mobile-btn {
  display: none;
  overflow: hidden;
  padding: 0;
  width: 30px;
  height: 42px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  background-color: transparent;
  border: none;
  margin-right: 15px;
  @media (max-width: 767px) {
    display: block;
  }
  span {
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    height: 3px;
    background: #fff;
    transition: background 0.3s;
    &:before {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #fff;
      content: "";
      top: -8px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
      transition-property: top, transform;
    }
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #fff;
      content: "";
      bottom: -8px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0;
      transition-property: top, transform;
    }
  }
  &.active {
    span {
      background: none;
      &:before {
        top: 0;
        transform: rotate(45deg);
        transition-delay: 0, 0.3s;
      }
      &:after {
        bottom: 0;
        transform: rotate(-45deg);
        transition-delay: 0, 0.3s;
      }
    }
  }
}
