.pricing-main{
  padding-top: 124px;
  overflow: hidden;
  @include bp(xs) {
    padding-top: 95px;
  }
}

.pricing-main__title{
  display: block;
  text-align: center;
  margin-bottom: 18px;
  font-family: $Montserrat;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  @include bp(xs) {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 12px;
  }
}

.pricing-main__descr{
  font-family: $Montserrat;
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 60px;
  @include bp(xs) {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }
}

.pricing-plans{
  display: flex;
  flex-wrap: wrap;
  .col-lg-3{
    height: inherit;
    @include bp(md) {
      margin-bottom: 30px;
    }
  }
}

.pricing-plan{
  border-radius: 16px;
  position: relative;
  padding: 24px 16px;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 16px;
    pointer-events: none;
    transition: linear .2s;
    border: 1px solid;
  }
  .title{
    font-weight: 500;
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .price{
    color: $accent-dark;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    span{
      width: 60px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      font-family: $Montserrat;
      margin-left: 8px;
    }
  }
  .descr{
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 16px;
  }
  .list{
    margin-bottom: 32px;
    font-family: $Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $accent-dark;
    li{
      margin-bottom: 8px;
      position: relative;
      padding-left: 28px;
      svg{
        position: absolute;
        left: 0;
        top: 4px;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .btn{
    background-color: transparent;
  }
  &.active{
    box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
    &:before{
      border-width: 7px;
    }
  }
  &.plan1{
    &:before{
      border-color: #979797;
    }
    .title{
      color: $accent-dark;
    }
    .btn{
      border-color: #000;
      color: #000 !important;
    }
    &:hover, &.active{
      .btn{
        background-color: #000;
        color: #fff !important;
      }
    }
  }
  &.plan2{
    &:before{
      border-color: #65CED6;
    }
    .title{
      color: #65CED6;
    }
    .btn{
      border-color: #65CED6;
      color: #65CED6 !important;
    }
    &:hover, &.active{
      .btn{
        background-color: #65CED6;
        color: #fff !important;
      }
    }
  }
  &.plan3{
    &:before{
      border-color: #2576BC;
    }
    .title{
      color: #2576BC;
    }
    .btn{
      border-color: #2576BC;
      color: #2576BC !important;
    }
    &:hover, &.active{
      .btn{
        background-color: #2576BC;
        color: #fff !important;
      }
    }
  }
  &.plan4{
    &:before{
      border-color: $accent;
    }
    .title{
      color: $accent;
    }
    .btn{
      border-color: $accent;
      color: $accent !important;
    }
    &:hover, &.active{
      .btn{
        background-color: $accent;
        color: #fff !important;
      }
    }
  }
}

.pricing-main__bot{
  position: relative;
  padding: 95px 0;
  @include bp(xs) {
    padding-bottom: 60px;
  }
  &:before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: calc(100% + 10vw);
    height: calc(100% - 70px);
    background: $accent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: translate(-50%, -50%) rotate(-2.6deg);
    pointer-events: none;
  }
  .container{
    position: relative;
    z-index: 1;
  }
}

.pricing-range__wrapper{
  display: flex;
  flex-wrap: wrap;
}

.pricing-range__left{
  width: calc(100% - 586px);
  padding-left: 30px;
  color: #fff;
  @include bp(md) {
    width: 100%;
    padding: 0 0 70px;
  }
  @include bp(xs) {
    padding-bottom: 40px;
  }
}

.pricing-range__title{
  display: block;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 31px;
  line-height: 36px;
  @include bp(xs) {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 12px;
  }
}

.pricing-range__descr{
  font-family: $Montserrat;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
  @include bp(xs) {
    font-size: 20px;
  }
}

.pricing-range__right{
  width: 586px;
  padding: 0 22px;
  @include bp(md) {
    width: 100%;
    padding: 0 60px;
  }
  @include bp(xs) {
    padding: 0 22px;
  }
  .irs--flat{
    height: 88px;
    @include bp(xs) {
      height: 70px;
    }
    .irs-bar{
      left: 0;
      height: 6px;
      border-radius: 20px 0 0 20px;
      background: #4717AA;
    }
    .irs-handle{
      width: 20px;
      height: 20px;
      top: 18px;
      border-radius: 50%;
      border: 3px solid #fff;
      background: #4717AA;
      cursor: grab;
      i{
        display: none;
        &:first-child{
          display: none;
        }
      }
    }
    .irs-handle-visible{
      pointer-events: none;
      transition: linear;
    }
    .irs-line{
      height: 6px;
      border-radius: 20px;
      cursor: pointer;
    }
    .irs-min, .irs-max{
      display: none;
    }
    .irs-single{
      width: 165px;
      height: 40px;
      background: #4717AA;
      border-radius: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      white-space: normal;
      font-family: $Montserrat;
      text-align: center;
      padding: 1px 15px;
      top: -32px;
      cursor: grab;
      @include bp(xs) {
        width: 86px;
        height: 26px;
        font-size: 8px;
        line-height: 11px;
        top: -16px;
        padding: 3px;
      }
      &:before{
        border-top: 5px solid #4717AA;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        bottom: auto;
        top: 100%;
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.pricing-range__item{
  position: relative;
}

.pricing-range__visualisation{
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  @include bp(xs) {
    display: none;
  }
  .irs-handle, .irs-bar, .irs-single{
    transition: linear .5s;
  }
}

.pricing-features{
  padding: 45px 0 50px;
  @include bp(xs) {
    padding: 30px 0;
  }
}

.pricing-features__title{
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 39px;
  line-height: 45px;
  margin-bottom: 33px;
  color: $accent-dark;
  @include bp(xs) {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }
}

.pricing-features__items{
  display: flex;
  justify-content: space-evenly;
  @include bp(xs) {
    flex-direction: column;
    align-items: center;
  }
}

.pricing-features__item{
  width: 220px;
  color: #000;
  font-weight: 400;
  margin-bottom: 40px;
  @include bp(xs) {
    margin-bottom: 20px;
  }
  >div{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto 10px;
  }
  >span{
    display: block;
    text-align: center;
    margin-bottom: 24px;
    font-size: 25px;
    line-height: 140%;
    @include bp(xs) {
      margin-bottom: 10px;
    }
  }
  >p{
    margin-bottom: 0;
    text-align: center;
    font-family: $Montserrat;
    font-size: 16px;
    line-height: 150%;
  }
}

.pricing-features__table-wrapper{
  position: relative;
  height: 505px;
  overflow: hidden;
  @include bp(xs) {
    margin-top: 40px;
    height: 460px;
  }
  &.active{
    height: auto;
    &:before{
      display: none;
    }
    .pricing-features__btn-expand{
      display: none;
    }
    .pricing-features__btn-collapse{
      display: flex;
    }
  }
  &:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 219px;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 75.52%);
    z-index: 1;
    @include bp(xs) {
      height: 190px;
    }
  }
  .pricing-features__title{
    margin-bottom: 64px;
    @include bp(xs) {
      margin-bottom: 30px;
    }
  }
}

.pricing-features__table-inner{
  @include bp(md) {
    overflow: auto;
  }
}

.pricing-features__table{
  margin-bottom: 25px;
  @include bp(md) {
    min-width: 1110px;
  }
  @include bp(xs) {
    min-width: 900px;
  }
}

.pricing-features__table-head{
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  @include bp(xs) {
    font-size: 18px;
  }
  >div{
    padding: 0 10px 16px;
    text-align: center;
    @include bp(xs) {
      text-align: left;
    }
    &.usage{
      width: 383px;
      padding-left: 0;
      text-align: left;
      color: #000;
      @include bp(xs) {
        width: 240px;
      }
    }
    &.free{
      width: 187px;
      color: $accent-dark;
      @include bp(xs) {
        width: 160px;
      }
    }
    &.startup{
      width: 191px;
      color: #65CED6;
      @include bp(xs) {
        width: 160px;
      }
    }
    &.growth{
      width: 189px;
      color: #2576BC;
      @include bp(xs) {
        width: 160px;
      }
    }
    &.scale_up{
      width: 173px;
      color: $lawender2;
      @include bp(xs) {
        width: 160px;
      }
    }
  }
}

.pricing-features__table-row{
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: $accent-dark;
  font-family: $Montserrat;
  border-bottom: 1px solid #C4C4C4;
  @include bp(xs) {
    font-size: 14px;
  }
  >div{
    padding: 8px 10px;
    text-align: center;
    @include bp(xs) {
      text-align: left;
    }
    &.usage{
      width: 383px;
      padding-left: 0;
      text-align: left;
      @include bp(xs) {
        width: 240px;
      }
    }
    &.free{
      width: 187px;
      @include bp(xs) {
        width: 160px;
      }
    }
    &.startup{
      width: 191px;
      @include bp(xs) {
        width: 160px;
      }
    }
    &.growth{
      width: 189px;
      @include bp(xs) {
        width: 160px;
      }
    }
    &.scale_up{
      width: 173px;
      @include bp(xs) {
        width: 160px;
      }
    }
    >svg{
      margin: 0 auto;
    }
    >a{
      color: #2576BC;
      font-size: 14px;
      text-decoration: underline;
      @include bp(xs) {
        font-size: 12px;
      }
      &:hover{
        text-decoration: none;
      }
    }
    .tootip-wrapper{
      position: relative;
      cursor: pointer;
      >span{
        display: inline-block;
        svg{
          min-width: 16px;
          position: relative;
          top: 3px;
        }
        >small{
          font-size: 14px;
          @include bp(xs) {
            font-size: 12px;
          }
        }
      }
      >div{
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 90%;
        opacity: 0;
        visibility: hidden;
        transition: linear .2s;
        width: 400px;
        max-width: calc(100vw - 30px);
        border: 1px solid $accent;
        padding: 15px;
        background-color: #fff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
        font-family: $Montserrat;
        font-size: 12px;
        line-height: 150%;
        color: #000;
        font-weight: 400;
        @include bp(xs) {
          font-size: 10px;
          padding: 10px;
        }
      }
      &:hover{
        >div{
          opacity: 1;
          visibility: visible;
          bottom: calc(100% + 5px);
        }
      }
    }
  }
}

.pricing-features__table-footer{
  display: flex;
  margin-top: -25px;
  @include bp(md) {
    min-width: 1110px;
  }
  >div{
    padding: 16px 10px 0;
    text-align: center;
    @include bp(xs) {
      text-align: left;
    }
    span{
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      @include bp(xs) {
        font-size: 18px;
      }
    }
    .btn{
      width: 155px;
      height: 27px;
      min-height: 27px;
      border-radius: 30px;
      margin: 16px auto 0;
      background-color: transparent;
      @include bp(xs) {
        margin-left: 0;
        width: 140px;
      }
    }
    &.usage{
      width: 383px;
      @include bp(xs) {
        width: 240px;
      }
    }
    &.free{
      width: 187px;
      color: $accent-dark;
      @include bp(xs) {
        width: 160px;
      }
      .btn{
        border-color: $accent-dark;
        color: $accent-dark !important;
        &:hover{
          background-color: $accent-dark;
          color: #fff !important;
        }
      }
    }
    &.startup{
      width: 191px;
      color: #65CED6;
      @include bp(xs) {
        width: 160px;
      }
      .btn{
        border-color: #65CED6;
        color: #65CED6 !important;
        &:hover{
          background-color: #65CED6;
          color: #fff !important;
        }
      }
    }
    &.growth{
      width: 189px;
      color: #2576BC;
      @include bp(xs) {
        width: 160px;
      }
      .btn{
        border-color: #51A4E4;
        color: #51A4E4 !important;
        &:hover{
          background-color: #51A4E4;
          color: #fff !important;
        }
      }
    }
    &.scale_up{
      width: 173px;
      color: $lawender2;
      @include bp(xs) {
        width: 160px;
      }
      .btn{
        border-color: $lawender2;
        color: $lawender2 !important;
        &:hover{
          background-color: $lawender2;
          color: #fff !important;
        }
      }
    }
  }
}

.pricing-features__btn-expand{
  width: 223px;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}

.pricing-features__btn-collapse{
  display: none;
  background-color: #fff;
  border-color: #671DFF;
  color: #671DFF !important;
  width: 223px;
  margin: 52px auto 0;
  &:hover{
    color: #fff !important;
    background-color: #671DFF;
  }
}

.pricing-needs{
  padding: 50px 0;
  @include bp(xs) {
    padding: 10px 0 30px;
  }
}

.pricing-needs__title{
  display: block;
  font-weight: 500;
  font-size: 39px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 3px;
  @include bp(xs) {
    font-size: 26px;
    line-height: 32px;
  }
}

.pricing-needs__descr{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
  @include bp(xs) {
    font-size: 20px;
  }
}

.pricing-needs__wrapper{
  display: flex;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  height: 295px;
  overflow: hidden;
  @include bp(md) {
    flex-direction: column;
    height: auto;
  }
}

.pricing-needs__txt{
  width: calc(100% - 511px);
  padding: 64px 10px 64px 64px;
  @include bp(lg) {
    padding: 30px 0 30px 30px;
  }
  @include bp(md) {
    width: 100%;
    padding: 40px 60px;
    text-align: center;
  }
  @include bp(xs) {
    padding: 20px 15px;
  }
  >span{
    display: block;
    font-weight: 500;
    font-size: 39px;
    line-height: 45px;
    @include bp(xs) {
      font-size: 30px;
      line-height: 36px;
    }
  }
  >p{
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 16px;
    @include bp(xs) {
      font-size: 18px;
    }
  }
  .btn{
    width: 156px;
    @include bp(md) {
      margin: 0 auto;
    }
  }
}

.pricing-needs__pic{
  display: flex;
  width: 511px;
  height: 100%;
  @include bp(md) {
    width: 100%;
    height: auto;
  }
  @include bp(xs) {
    width: calc(100% + 12vw);
    margin-left: -12vw;
  }
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pricing-faq{
  padding: 50px 0 60px;
  @include bp(xs) {
    padding: 30px 0;
  }
}

.pricing-faq__title{
  display: block;
  font-weight: 500;
  font-size: 39px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 64px;
  @include bp(xs) {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
  }
}

.pricing-faq__wrapper{
  margin-bottom: -8px;
}

.pricing-faq__item{
  margin-bottom: 8px;
}

.pricing-faq__head{
  display: flex;
  cursor: pointer;
  padding: 12px 62px 12px 32px;
  position: relative;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  background-color: #F8F7FA;
  min-height: 64px;
  border-radius: 0 40px 0 40px;
  @include bp(xs) {
    padding: 12px 62px 12px 20px;
    font-size: 18px;
    border-radius: 0 26px 0 26px;
  }
  >svg{
    transition: linear .2s;
    position: absolute;
    right: 22px;
    top: 22px;
  }
  &.active{
    >svg{
      transform: rotate(45deg);
      path{
        fill: #51A4E4;
        +path{
          fill: #2576BC;
        }
      }
    }
  }
}

.pricing-faq__body{
  display: none;
  padding: 24px 32px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  font-family: $Montserrat;
  color: #000;
  @include bp(xs) {
    font-size: 13px;
    padding: 16px 0;
  }
  p{
    margin-bottom: 16px;
  }
  img{
    display: block;
    max-width: 100%;
    object-fit: contain;
    margin: 0 auto 16px;
  }
}

.pricing-partners {
  padding: 60px 0 200px;
  @include bp(md) {
    padding-bottom: 100px;
  }
  @include bp(xs) {
    padding: 30px 0 60px;
  }
}

.pricing-partners__title{
  display: block;
  font-weight: 500;
  font-size: 39px;
  line-height: 45px;
  text-align: center;
  margin-bottom: 48px;
  @include bp(xs) {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
  }
}

.pricing-partners__wrapper{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 72px;
  @include bp(xs) {
    margin-bottom: 50px;
  }
  &:before{
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    background-color: #fff;
    right: 0;
    top: 0;
  
  }
  &:after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #fff;
    right: 0;
    bottom: 0;
  }
  >div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 160px;
    width: 33.333%;
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    @include bp(sm) {
      width: 33.33333%;
    }
    @include bp(xs) {
      width: 50%;
      padding: 20px;
      height: calc(40vw - 15px);
    }
    img{
      max-width: 100%;
      object-fit: contain;
    }
  }
}

.pricing-partners__subscribe{
  display: flex;
  align-items: center;
  @include bp(md) {
    flex-direction: column;
  }
}

.pricing-partners__subscribe-txt{
  width: 50%;
  padding-right: 30px;
  font-weight: 400;
  font-size: 25px;
  line-height: 140%;
  color: #000;
  text-align: right;
  @include bp(md) {
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  @include bp(xs) {
    font-size: 18px;
  }
}

.pricing-partners__subscribe-form{
  width: 50%;
  padding-left: 30px;
  @include bp(md) {
    width: 100%;
    padding: 0;
  }
  form{
    position: relative;
    @include bp(md) {
      width: 450px;
      max-width: 100%;
      margin: 0 auto;
    }
    input{
      width: 100%;
      height: 42px;
      padding-left: 20px;
      padding-right: 166px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      background-color: transparent;
      border: 1px solid #C4C4C4;
      border-radius: 38px;
      @include bp(xs) {
        padding-right: 130px;
        padding-left: 15px;
        font-size: 16px;
      }
      &::placeholder{
        color: $lawender2;
      }
      &:focus{
        &::placeholder{
          color: transparent;
        }
      }
    }
    button{
      position: absolute;
      right: 0;
      top: 0;
      width: 156px;
      @include bp(xs) {
        width: 120px;
      }
    }
  }
}
