// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;

$black: #1d1d1b;
$red: #e96e4c;
$white: #ffffff;
$accent: #7040ff;
$accent-dark: #10084d;
$blue: #5d34d0;
$blue-light: #f5f1ff;
$blue-mid: #4aafff;
$blue-dark: #422a89;
$sea-foam: #8ce2e9;
$lawender2: #5a36c7;

$default: "Ubuntu";
$Montserrat: "Montserrat";

// $blue: #13468C;
// $gold: #E8CD8B;
// $dark-grey: #6D7D8B;
// $medium-grey: #BBC8D4;
// $light-grey: #DAE3EA;
// $beige: #E4DED5;
