<header class="header header__pricing">
  <div class="header-main">
    <div class="header-main-inner">
      <div class="header-main-logo">
        <a href="javascript:void(0)">
          <!--<img src="../../images/pixel.png" data-original="../../images/logo-black.svg" class="lazy logo-black" alt="">-->
          <img src="../../images/pixel.png" data-original="../../images/logo.svg" class="lazy logo-white" alt="">
        </a>
      </div>
      <div class="header-main-nav">
        <ul>
          <li>
            <a href="javascript:void(0)">Solution</a>
          </li>
          <li>
            <a href="javascript:void(0)">Pricing</a>
          </li>
          <li class="has-children">
            <a href="javascript:void(0)">Resources</a>
            <div class="drop-menu">
              <div class="drop-menu-item first">
                <span>Footwear</span>
                <ul>
                  <li>
                    <div>
                      <picture>
                        <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-01.webp"
                          class="lazy-web" type="image/webp">
                        <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-01.png"
                          class="lazy-web" type="image/png">
                        <img src="../../images/pixel.png" data-original="../../images/icons/drop-01.png" class="lazy"
                          alt="">
                      </picture>
                    </div>
                    <a href="javascript:void(0)">
                      <b>Source Suppliers</b>
                      <span>Submit a request</span>
                    </a>
                  </li>
                  <li>
                    <div>
                      <picture>
                        <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-02.webp"
                          class="lazy-web" type="image/webp">
                        <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-02.png"
                          class="lazy-web" type="image/png">
                        <img src="../../images/pixel.png" data-original="../../images/icons/drop-02.png" class="lazy"
                          alt="">
                      </picture>
                    </div>
                    <a href="javascript:void(0)">
                      <b>Supplier Database</b>
                      <span>Search among 1900+ suppliers</span>
                    </a>
                  </li>
                  <li>
                    <div>
                      <picture>
                        <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-03.webp"
                          class="lazy-web" type="image/webp">
                        <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-03.png"
                          class="lazy-web" type="image/png">
                        <img src="../../images/pixel.png" data-original="../../images/icons/drop-03.png" class="lazy"
                          alt="">
                      </picture>
                    </div>
                    <a href="javascript:void(0)">
                      <b>Tariff Identifier</b>
                      <span>The smooth way to get HS codes</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="drop-menu-item second">
                <span>Learning</span>
                <ul>
                  <li>
                    <div>
                      <picture>
                        <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-04.webp"
                          class="lazy-web" type="image/webp">
                        <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-04.png"
                          class="lazy-web" type="image/png">
                        <img src="../../images/pixel.png" data-original="../../images/icons/drop-04.png" class="lazy"
                          alt="">
                      </picture>
                    </div>
                    <a href="javascript:void(0)">
                      <b>Quomoda</b>
                      <span>The online school for fashion</span>
                    </a>
                  </li>
                  <li>
                    <div>
                      <picture>
                        <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-05.webp"
                          class="lazy-web" type="image/webp">
                        <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-05.png"
                          class="lazy-web" type="image/png">
                        <img src="../../images/pixel.png" data-original="../../images/icons/drop-05.png" class="lazy"
                          alt="">
                      </picture>
                    </div>
                    <a href="javascript:void(0)">
                      <b>Knowledge Bank</b>
                      <span>Dive deep into footwear terminology</span>
                    </a>
                  </li>
                  <li>
                    <div>
                      <picture>
                        <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-06.webp"
                          class="lazy-web" type="image/webp">
                        <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-06.png"
                          class="lazy-web" type="image/png">
                        <img src="../../images/pixel.png" data-original="../../images/icons/drop-06.png" class="lazy"
                          alt="">
                      </picture>
                    </div>
                    <a href="javascript:void(0)">
                      <b>Innovative materials</b>
                      <span>A small but helpful guide</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="header-main-control">
        <a href="javascript:void(0)" class="popup-btn" data-mfp-src="#signup-popup" data-effect="mfp-zoom-in">Sign up</a>
      </div>
    </div>
  </div>
  <div class="mobile-btn">
    <span></span>
  </div>
</header>
<div class="mobile-menu__wrapper">
  <ul class="mobile-menu">
    <li>
      <a href="javascript:void(0)">Solution</a>
    </li>
    <li>
      <a href="javascript:void(0)">Pricing</a>
    </li>
    <li class="has-children">
      <a href="javascript:void(0)">Resources</a>
      <span>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.57805 10.9798L10.6278 15.4915C11.3882 16.1708 12.6166 16.1708 13.377 15.4915L18.4268 10.9798C19.6551 9.88233 18.7777 8.001 17.0424 8.001H6.94286C5.2076 8.001 4.34972 9.88233 5.57805 10.9798Z"
            fill="#671DFF" />
        </svg>
      </span>
      <div class="submenu">
        <span>Footwear</span>
        <ul>
          <li>
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-01.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-01.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/icons/drop-01.png" class="lazy" alt="">
              </picture>
            </div>
            <a href="javascript:void(0)">
              <b>Source Suppliers</b>
              <span>Submit a request</span>
            </a>
          </li>
          <li>
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-02.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-02.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/icons/drop-02.png" class="lazy" alt="">
              </picture>
            </div>
            <a href="javascript:void(0)">
              <b>Supplier Database</b>
              <span>Search among 1900+ suppliers</span>
            </a>
          </li>
          <li>
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-03.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-03.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/icons/drop-03.png" class="lazy" alt="">
              </picture>
            </div>
            <a href="javascript:void(0)">
              <b>Tariff Identifier</b>
              <span>The smooth way to get HS codes</span>
            </a>
          </li>
        </ul>
        <span>Learning</span>
        <ul>
          <li>
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-04.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-04.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/icons/drop-04.png" class="lazy" alt="">
              </picture>
            </div>
            <a href="javascript:void(0)">
              <b>Quomoda</b>
              <span>The online school for fashion</span>
            </a>
          </li>
          <li>
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-05.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-05.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/icons/drop-05.png" class="lazy" alt="">
              </picture>
            </div>
            <a href="javascript:void(0)">
              <b>Knowledge Bank</b>
              <span>Dive deep into footwear terminology</span>
            </a>
          </li>
          <li>
            <div>
              <picture>
                <source srcset="../../images/pixel.webp" data-original="../../images/icons/drop-06.webp"
                  class="lazy-web" type="image/webp">
                <source srcset="../../images/pixel.png" data-original="../../images/icons/drop-06.png" class="lazy-web"
                  type="image/png">
                <img src="../../images/pixel.png" data-original="../../images/icons/drop-06.png" class="lazy" alt="">
              </picture>
            </div>
            <a href="javascript:void(0)">
              <b>Innovative materials</b>
              <span>A small but helpful guide</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <span class="mobile-signup popup-btn" data-mfp-src="#signup-popup" data-effect="mfp-zoom-in">Sign up</span>
</div>
